.movie-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  .content {
      flex: 0 0 30%;
  }
  .image{
    flex: 0 0 30%;
    text-align: center;
  }
  .time, .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    p{
        margin-right: 20px;
    }
  }
}
